.library {
  position: fixed;
  top: 0;
  left: 0;
  width: 40rem;
  height: 100%;
  overflow-y: scroll;
  box-shadow: 2px 2px 50px rgb(202, 197, 197);
  background: white;
  transform: translateX(-100%);
  transition: all 0.5s ease-in-out;
  h2 {
    padding: 3rem;
  }
}
.library-song {
  padding: 2rem 3rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  img {
    max-width: 10rem;

    object-fit: cover;
  }
  &:hover {
    background: rgb(222, 222, 240);
  }
}
.song-des {
  padding-left: 2rem;
  h3 {
    padding: 1rem 0;
    font-size: $header3;
  }
  h4 {
    font-size: 1.8rem;
  }
}
.selected {
  background: rgb(161, 181, 228);
}
.library.active {
  transform: translateX(0%);
}
