nav {
  padding: 1rem 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}
.logo {
  a {
    font-weight: 700;
    color: black;
    font-size: $header3;
  }
}
.library-btn {
  z-index: 10;
  padding: 1rem 3rem;
  border: 1px solid rgb(48, 47, 47);
  background: none;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  &:hover {
    background: rgb(48, 47, 47);
    color: whitesmoke;
  }
}
