.song-container {
  flex: 1;
  // min-height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;

  img {
    width: 30rem;
    border-radius: 50%;
  }
  h1 {
    font-size: $header1;
  }
  h2 {
    font-size: $header4;
  }
}
